.main {
  & .main__section-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    & #formGeneratedPassword {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 300px;
      & #generatedPassword {
        background-color: rgb(0, 0, 0);
        width: 300px;
        height: 2em;
        border-radius: 20px;
        text-align: center;
        font-size: 1.2em;
      }
      & > button > i {
        font-size: 1.5em;
      }
      & button:nth-child(2) {
        padding: 15px;
      }
    }

    #configGeneratePassword {
      width: 300px;
      height: auto;
      margin-top: 30px;
      & h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
      & section {
        border-radius: 20px;
        background-color: rgba(0, 255, 255, 0.352);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & article:nth-child(2) {
          text-align: center;
          & div:nth-child(1) {
            margin: 20px 0;
            & input {
                width: 2em;
                height: auto;
                text-align: center;
                padding: 5px;
            }
            & button {
                background-color: rgb(6, 6, 6);
                border-radius: 50%;
                padding: 10px 12px;
                margin: 0 10px;
            }
          }
        }
        & article:nth-child(3) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          & div {
            display: flex;
            flex-direction: row-reverse;
            padding: 0 10px;
            & label {
              padding: 5px;
            }
          }
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .main {
    & .main__section-password {
      #configGeneratePassword {
        width: 500px;
      }
    }
  }
}