* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

html {
    background-color: rgb(35, 33, 33);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

input, button {
    background: none;
    outline: none;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}