* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

html {
    background: url("./../img/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

html::before {
    content: "";
    background-color: #0000009a;
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

input, button {
    background: none;
    outline: none;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Estilo base para el control de rango */
#meterPW {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

/* Estilo para la pista del rango */
#meterPW::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #00ff26; 
    transition: background .3s;
}
/* 
/* Estilo para el pulgar (la parte movible) */
#meterPW::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: none;  /* Color por defecto del pulgar */
    border-radius: 50%;
    cursor: pointer;
}

.meterPW0::-webkit-slider-runnable-track {
    background: #ff0000 !important;
}
.meterPW1::-webkit-slider-runnable-track {
    background: #ffa600 !important;
}
.meterPW2::-webkit-slider-runnable-track {
    background: #e5ff00 !important;
}
.meterPW3::-webkit-slider-runnable-track {
    background: #11ad00 !important;
}
.meterPW4::-webkit-slider-runnable-track {
    background: #73ff00 !important;
}

